.welcome
	.container 
		.back
			=link_to "< Back", root_path

		.title 
			= image_tag('icons/sun.png')
			%p MUELLER SOLAR 2015

		.fb
			=link_to "Join the Facebook Group", "https://www.facebook.com/groups/muellersolar2015/"
 
.section#solar-2015
	.container#solar-initiative
		.linkbar
			%ul
				%li
					%a{:href => "#overview-tab", :id => "overview"}Overview
				%li
					%a{:href => "#how-it-works-tab", :id => "How It Works"}How It Works
				%li
					%a{:href => "#calendar-tab", :id => "calendar"}Timeline
				%li
					%a{:href => "#happy-hours-tab", :id => "Happy Hour"}Happy Hour
				%li
					%a{:href => "#solar-installers-tab", :id => "Participating Solar Installers"}Participating Solar Installers

	.container#main-content	
		#overview-tab
			%h1 Overview
			.paragraph
				.about-paragraph
					%p We are organizing a group solar purchase program to help meet recent demand. The MMP helps reduce prices by streamlining the process between Homeowners, Solar Installers, the POA and Austin Energy. Additionally, MMP members focus on education to help prospective buyers determine if going solar is right for them. If you are interested in joining the over 225 homes in Mueller with solar, follow check out the "How It Works" section to learn about next steps.

			/ .footer-2015
			/ 	%a{:href => "#how-it-works-tab", :id => "How It Works"}Next: How it Works
					
		#how-it-works-tab.grid
			%h1 How It Works
			/ %p Homeowners who are interested in going solar should follow these steps. All Ages & Technology skill levels welcome - MMP is made up of 30 - 70 year olds. 



			%table
				%tr
					%td 1.
					%td.comment-icon Attend a MMP Happy Hour
					%td You'll learn everything you need to know about solar. We'll tell you what happens to solar panels when scenes from "Twister" unfold and walk you through how the technology works.
				%tr
					%td 2. 
					%td.roi-icon Figure out your ROI
					%td	Download this(COMING SOON) spreadsheet to determine your Return on Investment. Enter in your average monthly solar consumption on the 1st tab and the sheet will estimate your ROI. You can update the sheet with your pricing once you get bids to get a more accurate estimate.
				%tr 
					%td 3. 
					%td.search-icon Decide on 3 Solar Installers
					%td Check out the Participating Solar Installers page to learn about the 5 solar installers participating in Mueller Solar 2015. Read their information, check out their website, ask your friends, and pick 3 installers to get bids from. Email danx0601@yahoo.com your decision. Please include your (and if applicable your spouses) full name and email address.
				%tr
					%td 4. 
					%td.timer-icon Wait Patiently
					%td MMP will pass your contact information to the installers you selected. The installers will only contact you to let you know when they will be evaluating your roof. You do not need to be home for this. Once they do their evaluation, they will email you a proposal with a design & pricing. Yay!

				%tr 
					%td 5.
					%td.ok-icon Select a Proposal
					%td Once you receive all three proposals, you will need to select one. We highly recommend that you ask us questions - we will make ourselves available over beers (that you pay for) at HEB, Torchys and on the Street (not a new restaurant, just the actual street) 
				%tr
					%td 6.
					%td.write-icon Fill Out Paperwork
					%td At this point, you'll need to (a) sign a contract with the installer, (b) submit a Letter of Intent (LOI) to Austin Energy and (c) submit a request to the POA Modification Committee to approve your install.
				%tr 
					%td 7. 
					%td.sun-icon Go Solar!
					%td The solar installer you selected will schedule the installation of your system within a couple weeks. This process is pretty painless since they don't need access to the inside of your home. 


			/ %p OK!, fine, I'm 30. 

			/ %p 30 - 70 year olds.
	
		#calendar-tab.grid
			%h1 Timeline
			
			%table
				%tr
					%td.calendar-icon Feb 16 - Feb 26
					%td MMP Happy Hours
					%td You'll learn everything you need to know about solar. We'll tell you what happens to solar panels when scenes from "Twister" unfold and walk you through how the technology works. <a href="Check out Happy Hour Dates" 
				%tr
					%td.calendar-icon February 29
					%td Installer Selection Deadline
					%td Email us the names of the installers you want proposals from by this date (feel free to send them earlier and we'll kickstart the proposal process). We will aggregate interest and seemlessly share it with the installer.
				%tr 
					%td.calendar-icon Feb 29 - Mar 15
					%td Proposal Palooza
					%td The installers you selected will email you your proposal over the next couple weeks.
				%tr 
					%td.calendar-icon Mar 23
					%td Selection Sunday
					%td Deadline to make a final decision on which installer you want to do your installation.
		#happy-hours-tab
			%h1 Happy Hours
			%p To RSVP, you will need to be a member of the Facebook "Mueller Neighbors" group. If you aren't part of that group and don't want to be, simply email Aman at amankj@gmail.com to RSVP.  Thanks!
			.hh
				%p.calendar-icon Monday, February 16
				%p.location-icon 4448 Camacho St.
				%p.clock-icon 6 PM
				%p
					= link_to "RSVP", "https://www.facebook.com/events/352858038248955/", :class => "mail-icon", target: "_blank"
				
			.hh
				%p.calendar-icon Thursday, February 19
				%p.location-icon 4448 Camacho St.
				%p.clock-icon 7:30 PM
				%p
					= link_to "RSVP", "https://www.facebook.com/events/808486215910304/", :class => "mail-icon", target: "_blank"

			.hh
				%p.calendar-icon Saturday, February 21
				%p.location-icon Torchy's
				%p.clock-icon 4 PM				
				%p
					= link_to "RSVP", "https://www.facebook.com/events/788148297921298/", :class => "mail-icon", target: "_blank"

			.hh
				%p.calendar-icon Thursday, February 26
				%p.location-icon Dan & Laura's House, 4448 Camacho St.
				%p.clock-icon 7 PM
				%p
					= link_to "RSVP", "https://www.facebook.com/events/1418043175156364/", :class => "mail-icon", :target => "_blank"




		#solar-installers-tab
			%h1 Participating Solar Installers
			.installers
				%ul
					%li
						= link_to( image_tag('installers/longhorn-solar-logo.jpg'), "#installer1")
					%li
						= link_to( image_tag('installers/native-solar-logo.jpg'), "#installer2")
					%li
						= link_to( image_tag('installers/revolve-solar-logo.jpg'), "#installer3")
					%li
						= link_to( image_tag('installers/circular-energy-logo.jpg'), "#installer4")
					%li
						= link_to( image_tag('installers/lighthouse-solar-logo.jpg'), "#installer5")

			.installer-details
				#installer1
					%h3 Longhorn Solar
					%table
						%tr
							%td.comment-icon Why Us
							%td Coming Soon
						%tr
							%td.home-icon Headquarters
							%td Coming Soon
						%tr
							%td.date-icon Started
							%td Coming Soon
						%tr
							%td.sun-icon Installations (in Mueller)
							%td Coming Soon
						%tr
							%td.sun-icon Installed Capacity (in Mueller)
							%td Coming Soon	

						%tr
							%td.location-icon Website 
							%td 
								=link_to "longhornsolar.com", "http://www.longhornsolar", target: "_blank"

				#installer2
					%h3 Native Solar
				#installer3
					%h3 Revolve Solar
				#installer2
					%h3 Circular Energy
				#installer3
					%h3 Lighthouse Solar




