.welcome
	.container 
		.back
			=link_to "< Back", root_path

		.title 
			= image_tag('icons/sun.png')
			%p MUELLER SOLAR 2015

		.fb
			=link_to "Join the Facebook Group", "https://www.facebook.com/groups/muellersolar2015/"
 
.section#solar-2015
	.container#solar-initiative
		.linkbar
			%ul
				%li
					%a{:href => "#overview-tab", :id => "overview"}Overview
				%li
					%a{:href => "#how-it-works-tab", :id => "How It Works"}How It Works
				%li
					%a{:href => "#calendar-tab", :id => "calendar"}Timeline
				%li
					%a{:href => "#happy-hours-tab", :id => "Happy Hour"}Happy Hour
				%li
					%a{:href => "#solar-installers-tab", :id => "Participating Solar Installers"}Participating Solar Installers
				%li
					%a{:href => "#2015-disclosure-tab", :id => "Disclosure"}Disclosure
	.container#main-content	
		#overview-tab
			%h1 Overview
			.paragraph
				.about-paragraph
					%p We are organizing a group solar purchase program to help meet recent demand. The MMP helps reduce prices by streamlining the process between Homeowners, Solar Installers, the POA and Austin Energy. Additionally, MMP members focus on education to help prospective buyers determine if going solar is right for them. If you are interested in joining the over 225 homes in Mueller with solar, follow check out the "How It Works" section to learn about next steps.

			/ .footer-2015
			/ 	%a{:href => "#how-it-works-tab", :id => "How It Works"}Next: How it Works
					
		#how-it-works-tab.grid
			%h1 How It Works
			/ %p Homeowners who are interested in going solar should follow these steps. All Ages & Technology skill levels welcome - MMP is made up of 30 - 70 year olds. 



			%table
				%tr
					%td 1.
					%td.comment-icon Attend a MMP Happy Hour
					%td You'll learn everything you need to know about solar. We'll tell you what happens to solar panels when scenes from "Twister" unfold and walk you through how the technology works.

				%tr 
					%td 2. 
					%td.search-icon Decide on 3 Solar Installers
					%td Check out the Participating Solar Installers page to learn about the 5 solar installers participating in Mueller Solar 2015. Read their information, check out their website, ask your friends, and pick 3 installers to get bids from. Once you decide, <a href="https://docs.google.com/forms/d/1n7NWfjT9ui-PFHb8mGR32kiisOMHWL03rGwC7Fc6Ar8/viewform?usp=send_form" target="_blank">please submit this form.</a> 
				%tr
					%td 3. 
					%td.timer-icon Wait Patiently
					%td MMP will pass your contact information to the installers you selected. The installers will only contact you to let you know when they will be evaluating your roof. You do not need to be home for this. Once they do their evaluation, they will email you a proposal with a design & pricing. Yay!
				%tr
					%td 4. 
					%td.roi-icon Figure out your ROI
					%td	Download this(COMING SOON) spreadsheet to determine your Return on Investment. Enter in your average monthly solar consumption on the 1st tab and the sheet will estimate your ROI. You can update the sheet with your pricing once you get bids to get a more accurate estimate.

				%tr 
					%td 5.
					%td.ok-icon Select a Proposal
					%td Once you receive all three proposals, you will need to select one. We highly recommend that you ask us questions - we will make ourselves available over beers (that you pay for) at HEB, Torchys and on the Street (not a new restaurant, just the actual street) 
				%tr
					%td 6.
					%td.write-icon Fill Out Paperwork
					%td At this point, you'll need to (a) sign a contract with the installer, (b) submit a Letter of Intent (LOI) to Austin Energy and (c) submit a request to the POA Modification Committee to approve your install.
				%tr 
					%td 7. 
					%td.sun-icon Go Solar!
					%td The solar installer you selected will schedule the installation of your system within a couple weeks. This process is pretty painless since they don't need access to the inside of your home. 


			/ %p OK!, fine, I'm 30. 

			/ %p 30 - 70 year olds.
	
		#calendar-tab.grid
			%h1 Timeline
			
			%table
				%tr
					%td.calendar-icon Feb 16 - Feb 26
					%td MMP Happy Hours
					%td You'll learn everything you need to know about solar. We'll tell you what happens to solar panels when scenes from "Twister" unfold and walk you through how the technology works.
				%tr
					%td.calendar-icon Mar 1
					%td Installer Selection Deadline
					%td <a href="https://docs.google.com/forms/d/1n7NWfjT9ui-PFHb8mGR32kiisOMHWL03rGwC7Fc6Ar8/viewform?usp=send_form" target="_blank">Fill out this form</a> to submit your installer selection (feel free to fill this information out before this date and we'll kickstart your proposals). We will aggregate interest and seemlessly share it with the installer.
				%tr 
					%td.calendar-icon Mar 1 - Mar 15
					%td Proposal Palooza
					%td The installers you selected will email you your proposal over the next couple weeks.
				%tr 
					%td.calendar-icon Mar 23
					%td Selection Sunday
					%td Deadline to make a final decision on which installer you want to do your installation.
		#happy-hours-tab
			%h1 Happy Hours
			%p To RSVP, you will need to be a member of the Facebook "Mueller Neighbors" group. If you aren't part of that group and don't want to be, simply email Aman at amankj@gmail.com to RSVP.  Thanks!
			.hh
				%p.calendar-icon Monday, February 16
				%p.location-icon 4448 Camacho St.
				%p.clock-icon 6 PM
				%p
					= link_to "RSVP", "https://www.facebook.com/events/352858038248955/", :class => "mail-icon", target: "_blank"
				
			.hh
				%p.calendar-icon Thursday, February 19
				%p.location-icon 4448 Camacho St.
				%p.clock-icon 7:30 PM
				%p
					= link_to "RSVP", "https://www.facebook.com/events/808486215910304/", :class => "mail-icon", target: "_blank"

			.hh
				%p.calendar-icon Saturday, February 21
				%p.location-icon Torchy's
				%p.clock-icon 4 PM				
				%p
					= link_to "RSVP", "https://www.facebook.com/events/788148297921298/", :class => "mail-icon", target: "_blank"

			.hh
				%p.calendar-icon Thursday, February 26
				%p.location-icon Dan & Laura's House, 4448 Camacho St.
				%p.clock-icon 7 PM
				%p
					= link_to "RSVP", "https://www.facebook.com/events/1418043175156364/", :class => "mail-icon", :target => "_blank"




		#solar-installers-tab
			%h1 Participating Solar Installers
			.installers
				%ul
					%li
						= link_to( image_tag('installers/longhorn-solar-logo.jpg'), "#installer1")
					%li
						= link_to( image_tag('installers/native-solar-logo.jpg'), "#installer2")
					%li
						= link_to( image_tag('installers/revolve-solar-logo.jpg'), "#installer3")
					%li
						= link_to( image_tag('installers/circular-energy-logo.jpg'), "#installer4")
					%li
						= link_to( image_tag('installers/lighthouse-solar-logo.jpg'), "#installer5")

			.installer-details
				#installer1
					%h3 Longhorn Solar
					%table
						%tr
							%td.comment-icon Why Us
							%td 
								%p Our Mission is “to make solar accessible to everyone by providing the best products, at the best prices, installed by the best team in the country.” We spend considerable time researching manufacturers of solar products to provide the best products for the best value. We strive to use our buying power to achieve the best prices so we can pass those on to our customers. Austin has some of the lowest prices in the country and we like to think we played a large role in getting there. Lastly, we employ the best team in the country. We constantly provide training to our new hires and to our most seasoned staff to assure our clients they are getting the best installation possible. We believe in the NABCEP certifications and support all of our team members as they work to achieve their own certifications. All of our Austin installers are OSHA 10 certified and we are fully insured with Auto, General Liability, and Worker’s Comprehensive insurance.
								
								%br

								%p Our Vision is “To see solar on every viable rooftop”. We work to achieve this by exceeding our customer’s expectations as can be seen by our reviews on solarreviews.com , Yelp.com , and Angieslist.com . Since 2009 we have installed over 925 properties that account for over 5 mW and have saved our customers over $1.25 million off of their electric bills. We would value the opportunity to help you make the move to solar.

						%tr
							%td.home-icon Headquarters
							%td Austin, TX
						%tr
							%td.date-icon Started
							%td 2009
						%tr
							%td.sun-icon Installations
							%td 925 (15 in Mueller)
						%tr
							%td.sun-icon Installed Capacity
							%td 5.9 Megawatts (88.7 kW in Mueller)

						%tr
							%td.location-icon Website 
							%td 
								=link_to "longhornsolar.com", "http://www.longhornsolar.com", target: "_blank"

				#installer2
					%h3 Native Solar
					%table
						%tr
							%td.comment-icon Why Us
							%td 
								%p We offer a comprehensive range of solutions to save and create energy. We are unique in the amount of services we offer, allowing us to take a holistic approach when assisting our customers. As innovators, we are constantly studying current research and looking for better ways to serve our customers. We are always analyzing cost, new technology and pushing ourselves to provide the absolute best products at the best price. We offer products and services with a realistic return on investment and payback period. We understand that financial viability is an inherent requirement for something to be sustainable.

								%br
								%p Our reputation is one of the best in the business. We are known for being approachable, honest, dependable, trustworthy, and professional. We execute with quality and integrity. Learn more about our team of green building and renewable energy professionals below.
								
					


						%tr
							%td.home-icon Headquarters
							%td Austin, TX
						/ %tr
						/ 	%td.date-icon Started
						/ 	%td -
						/ %tr
						/ 	%td.sun-icon Installations 
						/ 	%td -
						/ %tr
						/ 	%td.sun-icon Installed Capacity
						/ 	%td -

						%tr
							%td.location-icon Website 
							%td 
								=link_to "buildnative.com", "http://www.buildnative.com", target: "_blank"
				#installer3
					%h3 Revolve Solar
					%table
						%tr
							%td.comment-icon Why Us
							%td 
								%p Revolve Solar was founded in February 2012 and has quickly grown to be one of the top solar companies in the industry. Our founding team has been in the solar industry since 2006.  Our mission is to transform the world’s perception of renewable energy to create a better tomorrow through the mass adoption of renewable energy as a cleaner, less expensive energy source.
								
								%br

								%p Revolve Solar has been designated as a 2014 Angie’s List Super Service Award Winner.  We were also recently ranked by BuildZoom.com as No. 14 in the U.S. for Top Solar Contractors - 2014.
								%br
								%p Revolve uses the highest quality American made products with a 25 year performance warranties and 10 year workmanship guarantee on solar panels and inverters.  We offer online monitoring so you can track your PV system’s performance from anywhere.  Every system that we design is fully customized to meet your needs for high performance, quality, and cost effectiveness.  
								%br
								%p Revolve springs from two terms: Renewable Energy and Evolution. We truly believe that we are now in the age of a significant shift in power and the consumer now has more control than ever in history to choose how they power their homes. Evolution has come in not only the cost of the panels themselves, but the expertise of our team to educate our clients to understand the full potential of the resources they have available to them.  We want to educate and empower our customers to make the best choice for themselves and the future of their family and the planet.

						%tr
							%td.home-icon Headquarters
							%td Redding, CA - Local Office in Austin.
						%tr
							%td.date-icon Started
							%td 2012
						%tr
							%td.sun-icon Installations (in Mueller)
							%td 1,300 (1 in Mueller)
						%tr
							%td.sun-icon Installed Capacity
							%td 8.02 Megawatts (4.76 kW in Mueller)

						%tr
							%td.location-icon Website 
							%td 
								=link_to "revolvesolar.com", "http://www.revolvesolar.com", target: "_blank"

				#installer4
					%h3 Circular Energy
					%table
						%tr
							%td.comment-icon Why Us
							%td 
								%p Headquartered in Austin and just miles away from the Mueller Development, Circular Energy is proud to be your local Austin solar installer.  We are also your regional experts, boasting 600 plus installations completed and over 4 Megawatts of residential solar installed in Central Texas; with offices in Austin, Dallas, Houston, and San Antonio, we’ve got the Texas solar market covered!   When you invest in solar you are making a 25 year plus investment in clean, renewable energy for your home.  We bring a dedicated team of experts and a solid financial foundation to ensure a reliable partnership for the life of that investment.

								%br
								%p Since our founding in Austin in 2008 we have become the highest ranked, fastest growing solar company in Texas.  In 2013 The Austin Business Journal ranked us the #3 Fastest Growing Company for 2010-2012, and we haven’t slowed down since, including our recent expansion into Lafayette and Lake Charles, Louisiana.

								%br
								%p Contradictory to the practices of many other solar companies, Circular Energy doesn’t just design your system - We install it ourselves through a true turn-key process. This allows us to ensure a quality solar solution is delivered on-time and as promised. It is because of this that Circular Energy has a 99.9% pass rate for our City and Utility inspections.

								%br
								%p Our team of knowledgeable Solar Design Consultants is eager to help you invest in the future with one of our beautiful, expertly-installed solar power systems. Reach out to us about a quote for solar on your home today! Call our Austin office at 512-900-6330 or visit us online at www.circularenergy.com.  Don’t forget to check out our online reviews to hear what our customers are saying about us.
					

						%tr
							%td.home-icon Headquarters
							%td Texas
						%tr
							%td.date-icon Started
							%td ~2008
						/ %tr
						/ 	%td.sun-icon Installations
						/ 	%td - (- in Mueller)
						/ %tr
						/ 	%td.sun-icon Installed Capacity
						/ 	%td - Megawatts (- kW in Mueller)

						%tr
							%td.location-icon Website 
							%td 
								=link_to "circularenergy.com", "http://www.circularenergy.com", target: "_blank"
				#installer5
					%h3 Lighthouse Solar
					%table
						%tr
							%td.comment-icon Why Us
							%td 
								%p LighthouseSolar in Austin, locally owned and operated, was founded in 2007 as a full service solar integrator installing Solar PV and Solar Thermal and specializing in architecturally integrated solar solutions. LighthouseSolar serves residential and commercial customers, developers, architects and municipalities with services that include consultation, design, turnkey integration, production data monitoring and service.

								%br

								%p LighthouseSolar has completed over 1100 systems with monitoring, including 124 PV systems in the Mueller neighborhood and over 97 separate data installations with Pecan Street Project mostly in Mueller. We are committed to innovating the means by which solar is deployed to groups and communities and have developed an expertise in working with communities. We have served 6 distinct communities through a variety of aggregate strategies.

								%br

								%p LighthouseSolar has fully employed staff serving the full extent of our offerings. We are composed of a professional engineer, LEED AP designer, Project Managers, Lead installer, NABCEP certified staff, site surveyors, technical salespeople, project administrators, CPA, and installers. Our internal departments coordinate closely from sales, design and operations to service and support. 
								%br

								%p LighthouseSolar offers a 25-year workmanship warranty and reactive service support on all systems installed in Austin and central Texas. Production and consumption monitoring is installed as standard equipment on all of our systems. We are authorized installers of Tier 1 solar modules and are certified installers of the major inverter manufacturers, including SMA, Solaredge and Enphase. 

								%br Financing is available at LighthouseSolar through Dividend Solar Financing, which offers a zero down, cash flow positive, 20 year loan with performance guarantees. Dividend is not a traditional lender, but is aligned with the specifics of the solar industry and solar assets.
								
							

						%tr
							%td.home-icon Headquarters
							%td Austin, TX
						%tr
							%td.date-icon Started
							%td 2007
						%tr
							%td.sun-icon Installations
							%td 1,100 (124 in Mueller)
						/ %tr
						/ 	%td.sun-icon Installed Capacity
						/ 	%td - Megawatts (- kW in Mueller)

						%tr
							%td.location-icon Website 
							%td 
								=link_to "lighthousesolar.com", "http://www.lighthousesolar.com", target: "_blank"
		#2015-disclosure-tab 
			%h1 Disclosure
			%p Members of the Mueller Megawatt Project do not have a financial interest in any solar installers and do not make money off solar consultations they provide to Mueller homeowners. They do, however, accept free beer with a smile.



