.container#contact-us-tab.anchor
	%h1 Contact Us

	.cloud1
		= image_tag('cloud-1.png') 
	.cloud2
		= image_tag('cloud-2.png') 
	.cloud3
		= image_tag('cloud-3.png') 		
	.cloud4
		= image_tag('cloud-4.png') 
	.cloud5
		= image_tag('cloud-5.png') 