%h1 Pictures

%ul#lightSlider
	%li{"data-thumb" => "/assets/solar-pic-1.jpg"}
		= image_tag('solar-pic-1.jpg')
	%li{"data-thumb" => "/assets/solar-pic-2.jpg"}
		= image_tag('solar-pic-2.jpg')
	%li{"data-thumb" => "/assets/solar-pic-3.jpg"}
		= image_tag('solar-pic-3.jpg')
	%li{"data-thumb" => "/assets/solar-pic-4.jpg"}
		= image_tag('solar-pic-4.jpg')
	%li{"data-thumb" => "/assets/solar-pic-5.jpg"}
		= image_tag('solar-pic-5.jpg')
	%li{"data-thumb" => "/assets/solar-pic-6.jpg"}
		= image_tag('solar-pic-6.jpg')
	%li{"data-thumb" => "/assets/solar-pic-7.jpg"}
		= image_tag('solar-pic-7.jpg')
	%li{"data-thumb" => "/assets/solar-pic-8.jpg"}
		= image_tag('solar-pic-8.jpg')
	%li{"data-thumb" => "/assets/solar-pic-9.jpg"}
		= image_tag('solar-pic-9.jpg')
	%li{"data-thumb" => "/assets/solar-pic-10.jpg"}
		= image_tag('solar-pic-10.jpg')
	%li{"data-thumb" => "/assets/solar-pic-11.jpg"}
		= image_tag('solar-pic-11.jpg')
	%li{"data-thumb" => "/assets/solar-pic-12.jpg"}
		= image_tag('solar-pic-12.jpg')
	%li{"data-thumb" => "/assets/solar-pic-13.jpg"}
		= image_tag('solar-pic-13.jpg')
	%li{"data-thumb" => "/assets/solar-pic-14.jpg"}
		= image_tag('solar-pic-14.jpg')
	%li{"data-thumb" => "/assets/solar-pic-15.jpg"}
		= image_tag('solar-pic-15.jpg')
	%li{"data-thumb" => "/assets/solar-pic-16.jpg"}
		= image_tag('solar-pic-16.jpg')
	%li{"data-thumb" => "/assets/solar-pic-17.jpg"}
		= image_tag('solar-pic-17.jpg')
	%li{"data-thumb" => "/assets/solar-pic-18.jpg"}
		= image_tag('solar-pic-18.jpg')
	%li{"data-thumb" => "/assets/solar-pic-19.jpg"}
		= image_tag('solar-pic-19.jpg')
	%li{"data-thumb" => "/assets/solar-pic-20.jpg"}
		= image_tag('solar-pic-20.jpg')
	%li{"data-thumb" => "/assets/solar-pic-21.jpg"}
		= image_tag('solar-pic-21.jpg')
	%li{"data-thumb" => "/assets/solar-pic-22.jpg"}
		= image_tag('solar-pic-22.jpg')
	%li{"data-thumb" => "/assets/solar-pic-23.jpg"}
		= image_tag('solar-pic-23.jpg')
	%li{"data-thumb" => "/assets/solar-pic-24.jpg"}
		= image_tag('solar-pic-24.jpg')
	%li{"data-thumb" => "/assets/solar-pic-25.jpg"}
		= image_tag('solar-pic-25.jpg')
	%li{"data-thumb" => "/assets/solar-pic-26.jpg"}
		= image_tag('solar-pic-26.jpg')
	%li{"data-thumb" => "/assets/solar-pic-27.jpg"}
		= image_tag('solar-pic-27.jpg')
	%li{"data-thumb" => "/assets/solar-pic-28.jpg"}
		= image_tag('solar-pic-28.jpg')
	%li{"data-thumb" => "/assets/solar-pic-29.jpg"}
		= image_tag('solar-pic-29.jpg')
	%li{"data-thumb" => "/assets/solar-pic-30.jpg"}
		= image_tag('solar-pic-30.jpg')
	%li{"data-thumb" => "/assets/solar-pic-31.jpg"}
		= image_tag('solar-pic-31.jpg')
	%li{"data-thumb" => "/assets/solar-pic-32.jpg"}
		= image_tag('solar-pic-32.jpg')
	%li{"data-thumb" => "/assets/solar-pic-33.jpg"}
		= image_tag('solar-pic-33.jpg')
	%li{"data-thumb" => "/assets/solar-pic-34.jpg"}
		= image_tag('solar-pic-34.jpg')
	%li{"data-thumb" => "/assets/solar-pic-35.jpg"}
		= image_tag('solar-pic-35.jpg')
	%li{"data-thumb" => "/assets/solar-pic-36.jpg"}	
		= image_tag('solar-pic-36.jpg')
	%li{"data-thumb" => "/assets/solar-pic-37.jpg"}
		= image_tag('solar-pic-37.jpg')
	%li{"data-thumb" => "/assets/solar-pic-38.jpg"}
		= image_tag('solar-pic-38.jpg')
	%li{"data-thumb" => "/assets/solar-pic-39.jpg"}
		= image_tag('solar-pic-39.jpg')
	%li{"data-thumb" => "/assets/solar-pic-40.jpg"}
		= image_tag('solar-pic-40.jpg')
	%li{"data-thumb" => "/assets/solar-pic-41.jpg"}
		= image_tag('solar-pic-41.jpg')
	%li{"data-thumb" => "/assets/solar-pic-42.jpg"}
		= image_tag('solar-pic-42.jpg')
	%li{"data-thumb" => "/assets/solar-pic-43.jpg"}
		= image_tag('solar-pic-43.jpg')
	%li{"data-thumb" => "/assets/solar-pic-44.jpg"}
		= image_tag('solar-pic-44.jpg')
	%li{"data-thumb" => "/assets/solar-pic-45.jpg"}
		= image_tag('solar-pic-45.jpg')
	%li{"data-thumb" => "/assets/solar-pic-46.jpg"}	
		= image_tag('solar-pic-46.jpg')
	%li{"data-thumb" => "/assets/solar-pic-47.jpg"}
		= image_tag('solar-pic-47.jpg')
	%li{"data-thumb" => "/assets/solar-pic-48.jpg"}
		= image_tag('solar-pic-48.jpg')
	%li{"data-thumb" => "/assets/solar-pic-49.jpg"}
		= image_tag('solar-pic-49.jpg')
	%li{"data-thumb" => "/assets/solar-pic-50.jpg"}
		= image_tag('solar-pic-50.jpg')
	%li{"data-thumb" => "/assets/solar-pic-51.jpg"}
		= image_tag('solar-pic-51.jpg')
	%li{"data-thumb" => "/assets/solar-pic-52.jpg"}
		= image_tag('solar-pic-52.jpg')
	%li{"data-thumb" => "/assets/solar-pic-53.jpg"}
		= image_tag('solar-pic-53.jpg')