%h1 Pictures

%ul#lightSlider
	%li{"data-thumb" => "/assets/solar-pic-1.jpg"}
		= image_tag('solar-pic-1.jpg')
	%li{"data-thumb" => "/assets/solar-pic-2.jpg"}
		= image_tag('solar-pic-2.jpg')
	%li{"data-thumb" => "/assets/solar-pic-3.jpg"}
		= image_tag('solar-pic-3.jpg')
	%li{"data-thumb" => "/assets/solar-pic-4.jpg"}
		= image_tag('solar-pic-4.jpg')
	%li{"data-thumb" => "/assets/solar-pic-5.jpg"}
		= image_tag('solar-pic-5.jpg')
	/ %li{"data-thumb" => "/assets/images/solar_pics/solar-pic-6.jpg"}
	/ 	= image_tag('solar-pic-6.jpg')
	/ %li{"data-thumb" => "/assets/images/solar_pics/solar-pic-7.jpg"}
	/ 	= image_tag('solar-pic-7.jpg')
	/ %li{"data-thumb" => "/assets/images/solar_pics/solar-pic-8.jpg"}
	/ 	= image_tag('solar-pic-8.jpg')
	/ %li{"data-thumb" => "/assets/images/solar_pics/solar-pic-9.jpg"}
	/ 	= image_tag('solar-pic-9.jpg')

	/ %li{"data-thumb" => "/assets/MKJ1.jpg"}
	/ = image_tag('MKJ1.jpg')
