%h1 Who We Are

#who_we_are
	%ul 
		%li
			.headshot
				= image_tag('aman.jpg') 
			.bio
				%h3 Aman Jain
				%p Aman has an unhealthy obsession with Microsoft Excel. Thankfully, he was able to channel his disease into a spreadsheet to help him and his neighbors figure out if it made financial sense to go solar. Turns out, it did.
		%li
			.headshot
				= image_tag('dan.jpg') 
			.bio
				%h3 Dan McAtee
				%p We've spent so much time at Dan's house for meetings that we should probably pay him rent. He doesn't take no for an answer and honestly, can be a little intimidating.
	%ul 
		%li
			.headshot
				= image_tag('dusty.jpg') 
			.bio
				%h3 Dusty Harshman
				%p Dusty's brain imagined the "Mueller Megawatt Project" and his hands typed out the idea in a neighborhood forum several years ago. The rest is history.
		%li
			.headshot
				= image_tag('kathy.jpg') 
			.bio
				%h3 Kathy Sokolic
				%p Kathy does everything. Literally.
	%ul 
		%li
			.headshot
				= image_tag('art.jpg') 
			.bio
				%h3 Art Dadonna
				%p Art's speciality is engineering. His expertise has helped the entire neighborhood get comfortable with the technology we're putting on our roofs.
		%li
			.headshot
				= image_tag('dhanajay.jpg') 
			.bio
				%h3 Dhananjay Joshi
				%p Dhananjay always has a positive attitude and is usually the first volunteer. We couldn't have reached our goals without people like him.
%p ...plus many more!!!