%h1 Who We Are

#who_we_are
	%ul 
		%li
			.headshot
				= image_tag('aman.jpg') 
			.bio
				%h3 Aman Jain
				%p Aman has an unhealthy obsession with Microsoft Excel. Thankfully, he was able to channel his disease into a spreadsheet to help him and his neighbors figure out if it made financial sense to go solar. Turns out, it did.
		%li
			.headshot
				= image_tag('dan.jpg') 
			.bio
				%h3 Dan McAtee
				%p Volunteer
	%ul 
		%li
			.headshot
				= image_tag('dusty.jpg') 
			.bio
				%h3 Dusty Harshman
				%p Volunteer
		%li
			.headshot
				= image_tag('kathy.jpg') 
			.bio
				%h3 Kathy Sokolic
				%p Volunteer
	%ul 
		%li
			.headshot
				= image_tag('art.jpg') 
			.bio
				%h3 Art Dadonna
				%p Volunteer
		%li
			.headshot
				= image_tag('dhanajay.jpg') 
			.bio
				%h3 Dhananjay Joshi
				%p Volunteer
%p ...plus many more!!!